.names {
    color: blue;
    font-weight: 600;
    background-color: antiquewhite;
    background-position: center;
    text-decoration-line: none;
    padding: 5px;
}

.name:hover {
    background-color: aqua;
    text-decoration-line: none;
}

.usersList {
    font-size: 30px;
    font-weight: 900;
    text-decoration-line: none;
}

